<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DYCountDownViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A48C2FE1F7DE85900C67B34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A48C3171F7DE85900C67B34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A48C3221F7DE85900C67B34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
